:root {
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
  --accent-color: #046507;
  --card-shadow: rgba(0, 0, 0, 0.15);
  --border-color: #333;
}

.albums-container {
  padding: 2rem 4rem;
  font-family: 'BookkMyungjo-Light', serif;
  max-height: calc(100vh - 174px);
  overflow-y: auto;
}

.albums-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  text-align: center;
}

.album-filters {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  flex-wrap: wrap;
}

.album-filters select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23e0e0e0%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-6.5%200-12.3%203.2-16.1%208.1-3.8%204.9-4.9%2011-3.1%2016.9l132%20140c3.8%204.9%209.6%207.1%2015.4%207.1s11.6-2.2%2015.4-7.1l132-140c1.8-5.9.7-12-3.1-16.9z%22%2F%3E%3C%2Fsvg%3E'); /* 커스텀 화살표 */
  background-position: right 0.7rem top 50%;
  background-repeat: no-repeat;
  background-size: 0.65rem auto;
  min-width: 100px;
  transition: all 0.3s ease;
  font-family: var(--font-gothic);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.album-card {
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--card-shadow);
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.album-card:hover {
  box-shadow: 0 8px 20px var(--card-shadow);
}

.album-artwork {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.album-info { padding: 1rem; }

.album-title-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0 0 0rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist {
  font-size: 0.9rem;
  color: #bdbdbd;
  margin-bottom: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-meta {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.album-region {
  display: inline-block;
  padding: 0px;
  margin-right: 0px;
  border-radius: 3px;
  color: #fff;
}

/* .album-region.korea { background-color: #42a5f5; }
.album-region.global { background-color: #66bb6a; } */

.album-card-animated {
  opacity: 0; /* 애니메이션 시작 전에는 투명하게 */
  animation: fadeIn 0.5s ease-in-out forwards; /* App.css에 정의된 fadeIn 애니메이션 사용 */
}

@media (max-width: 768px) {
  .albums-container { padding: 1rem; }
  .albums-grid { grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 1rem; }
  .albums-title { font-size: 1.8rem; }
}
